.cta {
  background: #000000;
  color: #ffffff;
  border-radius: var(--radius-l);
  margin: 0 24px;
  padding: 80px;
  text-align: center;
  margin-bottom: 100px;
  
}

.cta__content {
  max-width: 600px;
  margin: 0 auto;
}

.cta h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.cta p {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 32px;
  line-height: 1.6;
}

.cta-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
  padding: 0 24px;
}

.cta-divider__text {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.cta-divider__line {
  height: 2px;
  background: #000000;
  width: 150px;
  max-width: 30vw;
}
